body {
  background-color: #474954;
}
.container {
  background-color: #474954;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.head {
  flex-basis: 25%;
}
.head h1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 5rem;
  font-weight: 700;
  color: #7284a8;
  text-align: center;
  letter-spacing: 1px;
}
.result h1 {
  font-family: "Gentium Book Basic", serif;
  font-size: 3rem;
  color: #9e788f;
  letter-spacing: 1px;
}
.result p {
  font-family: "Gentium Book Basic", serif;
  letter-spacing: 1px;
  font-size:2rem;
  color: #8e44ad;
}
.result {
  flex-basis: 25%;
}
.gamec {
}
.game_ar {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  background-color: #575963;
}
.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #a9b3ce;
  z-index: 2;
}
.food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #7cdedc;
  z-index: 1;
}
